<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf.8">
    <title>Algún sitio</title>
  </head>
  <body>
    <h1>Regresaremos pronto!</h1>
    <p>
      El sitio está en mantenimiento.
    </p>
  </body>

</html>
